body {
    font-family: poppins;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 56%;
    padding-top: 150px;
    padding-bottom: 100px;
    margin: 20px auto;
    gap: 20px;
}
.left-container, .right-container {
    margin-top: 0;    
}
.left-container {
    padding: 30px 70px;
    flex: 2;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.1);
}
.right-container {
    width: 34%;
    padding: 30px 40px;
    flex: 1;
    min-width: 400px;

}
h2 {
    font-weight: 500;
    letter-spacing: 2px;
    margin: 20px 0px;
}
.payment-methods {
    margin: 20px 0;
}
.payment-methods label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.place-order {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.14);
    color: #f8f8f8;
    background-color: #e74444;
}
.place-order:hover {
    background-color: #cf2728;
    color: #fff;
    transition: all ease 0.3s;
    border: none;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-right: 1em;
}

.item img {
    transform: none;
}

select {
    width: 100%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.summary {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.summary h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
}

h3 {
    font-weight: 500;
}

.right-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total {
    font-size: xx-large;
}

.product-item {
    display: flex;
    margin-top: 15px;
    padding-top: 10px;
}

.product-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
}

.product-details h4 {
    margin: 0;
    font-size: 16px;
}

.product-details p {
    margin: 5px 0;
}